<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1><%= pageTitle %></h1>
    <div class="content"><%- content %></div>
    <footer>
      <p>生成时间：<%= new Date().toLocaleString() %></p>
    </footer>
  </body>
</html>
